<!-- страница для админа-->
<div class="clients">
  <h1>Cписок пользователей</h1>

  <table>
    <tr>
      <td><b>Имя:</b></td>
      <td><b>Статус блокировки:</b></td>
      <td><b>Арендованные книги:</b></td>
    </tr>

    {{#if data}}
      {{#each data}}
        <tr>
          <td>
            {{clientName}}
          </td>

           <td>
            <ol>
              {{#rentedBooks}}
                <li>
                  {{nameBook}}
                </li>
              {{/rentedBooks}}
            </ol>
          </td>

          <td>
            {{isBlocked}}
          </td>

          <td>
            {{#if isBlocked}}
            <a href="/admin/clients/{{_id}}/unban"><button><b>Разблокировать
                клиента</b></button></a>
                {{else}}
                 <a href="/admin/clients/{{_id}}/takeAwayBook">
              <button><b>Отобрать книгу заблокировать клиента</b></button></a>
              {{/if}}
          </td>
         
        </tr>

      {{/each}}
    {{/if}}
  </table>
</div>